---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Work from '../components/Work.astro';
import Awards from '../components/Awards.astro';
import Dean from '../components/Dean.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Dr. Indira Vinjamuri | Consultant Psychiatrist & Medical Educator">
  <Header />
  <main>
    <Hero />
    <About />
    <Work />
    <Awards />
    <Dean />
    <Contact />
  </main>
  <Footer />
</Layout>
